<form method="post" action="/cart/add">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  <input min="1" type="number" id="quantity" name="quantity" value="1"/>
  <input type="button" value="Book A Consult" class="btn" onclick="window.location='{{ product.metafields.custom.coach_booklink }}'"/>
</form>