
        
        <div class="custom-model-main aaa" id="myHomePopup{{ id }}">
            <div class="custom-model-inner popup">        
                <div class="close-btn">×</div>
                <div class="custom-model-wrap ">
                    <div class="pop-up-content-wrap">
                        <div class="popflex">
                            <div>{{title}}</div>
                            <div>{{ discription }}</div>
                        </div>  
                        <div class="popflex">
                            <img src=" https://cdn.shopify.com/s/files/1/0017/5443/1553/files/review-logo.png?v=1679751875">
                            <div>{{Sub-title}}</div>
                        </div> 
                    </div>  
                </div>  
                <div class="bg-overlay"></div>
            </div>
        </div>
         