<div id="shippingModal" class="shipping-modal">
    <div class="shipping-primary-modal">
      <div class="shipping-modal-header">
        <p>Shipping rates</p>
        <span class="shipping-close">&times;</span>
      </div>
      <div class="shipping-modal-body">
          <p>
            Because Standard Process fulfills their products directly, they apply a $12 shipping fee for orders under $150. To get free shipping for Standard Process products, order a minimum of $150 of their products.           
          </p>
      </div>
      <div class="shipping-modal-footer">
        <span class="shipping-modal-footer-button shipping-close">Got it, Thanks!</span>
      </div>
    </div>
  </div>
  {% style %}
   
.shipping-modal {
    /* display: none;  */
    position: fixed; 
    z-index: 999;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.shipping-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    border-bottom: 0.2px solid #eee;
}

.shipping-modal-content {
    margin: auto;
    background: #ffffff;
    padding: 20px;
    width: 60%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    color: #000;
    font-family: 'Josefin Sans';
    border-radius: 10px;
    opacity: 1;
    transition: 0.2s;
}

.shipping-primary-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    background-color: #fefefe;
}

.shipping-modal-body {
    font-weight: 400;
    border-bottom: 0.2px solid #eee;
    padding: 15px 0;
    letter-spacing: 0px;
}

.shipping-modal-footer {
    padding-top: 15px;
}

.shipping-close {
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: 300;
}

.shipping-close:hover,
.shipping-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.shipping-modal-footer-button {
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 20px;
    background: green;
    color: #fff;
    font-weight: 600;
}

.shipping-modal-footer-button:hover,
.shipping-modal-footer-button:focus {
    color: #000;
}
{% endstyle %}