  <div class="amr_faq_accordion page-width">
    <div class="amr_container_1170">
      <div class="amr_pet_consultants_header">
        {% if section.settings.heading != blank %}<h2>{{ section.settings.heading }}</h2>{% endif %}
        {% if section.settings.desc != blank %}<div>{{ section.settings.desc }}</div>{% endif %}
      </div>
      <div class="amr_faq_list">
        {% for block in section.blocks %}
          {% if block.settings.title != blank %}
            <div class="amr_faq_item">
              <button class="amr_accordion"><span>{{ block.settings.title }}</span></button>
              <div class="amr_panel">{{ block.settings.detail }}</div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

<style>
  {% comment %} .amr_panel{
    display:none;
  } {% endcomment %}
</style>
<script>
var acc = document.getElementsByClassName("amr_accordion");
var i;
var accordionList = document.querySelector('.amr_faq_item');
console.log(accordionList, "here")
if(accordionList == null) document.querySelector('.amr_faq_accordion').classList.add('hidden');

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("amr_active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
{% schema %}
{
  "name": "FAQ Accordion",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label":"Heading"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label":"Description"
    }
  ],
  "blocks": [
    {
      "type": "FAQ",
      "name": "FAQ",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label":"Title"
        },
        {
          "type": "richtext",
          "id": "detail",
          "label":"Detail"
        }
      ]
    }
  ],
  "presets": [
      {
        "name": "FAQ Accordion"
      }
    ]
}
{% endschema %}