<style>
      .text_sub_heading{
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      text-transform: uppercase;
      color: #1E1E1E;
      }
      .text_sub_heading{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #1E1E1E;
    }
    .text_paragraph_b{
        font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #1E1E1E;
    }
    .image_hight_main > img{
            width: 100%;
            height:100%;
    }
    .txt_max_width {
    max-width: 500px;
}
    .width_change_1 {
  width: 50%;
}
    .width_change_2{
        width:40%;
    }
    .pos_relative_{
        position:relative;
    }
    .pos_ab_box{
            position: absolute;
        top: 50%;
        left: 59%;
        transform: translate(-50%, -50%);
    }
    #shopify-section-template--14923095375937__48d12ed6-72cc-412a-9a13-50d6daf38a9b{
        background: #F5F8F1;
    }
    #shopify-section-template--14923163369537__43e0a268-a273-49f8-aebf-556332935db2{
      margin-top: 0;
    }
    #shopify-section-template--14923163369537__3818f637-8ac3-46c3-ba5a-7340140cdaeb{
      margin-top: 0;
    }
    .clsh2_cource{
      font-family: 'BLT-Heirloom';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  color: #184B44;
  }
         @media screen and (min-width:768px) and (max-width:1200px){
    .width_change_1{
        width:50%;
    }
    .width_change_2{
        width:50%;
    }
     .pos_ab_box{
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
     }
         }
          @media screen and (max-width:890px){
            .text_sub_heading{
                    font-size: 15px;
            }
            .text_paragraph_b{
                    font-size: 15px;
            }

          }
      @media screen and (max-width:767px){
     .pos_none_{
            display: block;
     }
     .pos_ab_box{
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
     }
     .width_change_2{
        width:90%;
       margin: auto;
     }
     .width_change_1 {
        width: 100%;
    }
      }
</style>
<section>
  <div class="d_flex_main pos_relative_ pos_none_">
    <div class="width50_cou_22 image_hight_main width_change_1">
      <img class="" src="{{ section.settings.imagesingle|img_url: '1400x' }}">
    </div>
    <div class="width50_cou_22 cls_dummy_ width_change_2">
      <div class="txt_max_width pos_ab_box">
        <h2 class="clsh2_cource">{{ section.settings.txtfirst }}</h2>
        <p class="text_sub_heading">{{ section.settings.txtsecond }}</p>
        <p class="text_paragraph_b">{{ section.settings.txtthired }}</p>
        <p class="author_cource"></p>
        <p>
          <span class="price_in_c "></span>
          <span class="price_in_c line_center_"></span>
        </p>

        <div class="mar_t_50px_">
          <p class="p_text_i"></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Image With text 60 40",
  "settings": [
          {
  "type": "text",
  "id": "txtfirst",
  "label": "Heading"
    },
            {
  "type": "text",
  "id": "txtsecond",
  "label": "Sun Heading"
    },
            {
  "type": "text",
  "id": "txtthired",
  "label": "Paragraph"
    },
      {
        "type": "image_picker",
        "id": "imagesingle",
        "label": "Add Single  Image"
        }
  ],
  "blocks": [
{
  "type": "collection",
  "name": "Collection",
  "settings": [

       {
  "type": "text",
  "id": "txet_blog",
  "label": "Text"
    }
  ]
}
  ],
  "presets": [
  {
  "name": "Image With text 60 40"
  }
  ]
}
{% endschema %}
