
<div class="klaviyo-form-WHBekM"></div>
<style>
  #shopify-section-template--14921794027585__3121c95f-4eec-43f7-b3cd-3add1d3fa814  #email_74609637::placeholder{
        
    }
     #shopify-section-template--14921794027585__3121c95f-4eec-43f7-b3cd-3add1d3fa814 .needsclick.go2115492669.kl-private-reset-css-Xuajs1,#email_74608618,#email_74609424,#email_74609637,button.needsclick.go3894874857.kl-private-reset-css-Xuajs1 {
        
        }
    #shopify-section-template--14921794027585__3121c95f-4eec-43f7-b3cd-3add1d3fa814  .go3176171171{
        font-family: Caliway  !important;
        font-style: normal  !important;
        font-weight: 400  !important;
        font-size: 32px  !important;
        line-height: 60px  !important;
        text-align: center;
        display: block;
      }

 #shopify-section-template--14921794027585__3121c95f-4eec-43f7-b3cd-3add1d3fa814 .needsclick.go3298969293.kl-private-reset-css-Xuajs1 span{

        font-family: Caliway  !important;
        font-style: normal  !important;
        font-weight: 400  !important;
        font-size: 32px  !important;
        line-height: 60px  !important;
       text-align: center;
        display: block;
  }
    #shopify-section-template--14921794027585__3121c95f-4eec-43f7-b3cd-3add1d3fa814 [data-testid="form-row"]{
        width: 30%;
        margin-left: auto;
       margin-right: auto;
      } 
    #shopify-section-template--14921794027585__3121c95f-4eec-43f7-b3cd-3add1d3fa814  form div.needsclick.kl-private-reset-css-Xuajs1:first-child div.needsclick.kl-private-reset-css-Xuajs1:first-child{
        width:100% !important;
      }
     #shopify-section-template--14921794027585__3121c95f-4eec-43f7-b3cd-3add1d3fa814 .needsclick.kl-private-reset-css-Xuajs1{
        background-color: unset !important;
      }
    #shopify-section-template--14921794027585__3121c95f-4eec-43f7-b3cd-3add1d3fa814  .needsclick.go3298969293.kl-private-reset-css-Xuajs1{
        box-shadow:none !important;
        border:none !important;
        background-color: unset !important;
      }
     #shopify-section-template--14921794027585__3121c95f-4eec-43f7-b3cd-3add1d3fa814 #klaviyo_ariaid_3{
      font-size:16px !important;
    }
      @media screen and (max-width: 1000px) {
        #shopify-section-template--14921794027585__3121c95f-4eec-43f7-b3cd-3add1d3fa814  form div.needsclick.kl-private-reset-css-Xuajs1:first-child,form div.needsclick.kl-private-reset-css-Xuajs1:first-child{
        width: 80% !important;
        margin: 0 auto !important;
      }
        #shopify-section-template--14921794027585__3121c95f-4eec-43f7-b3cd-3add1d3fa814 [data-testid="form-row"]{
        width: 100%;
        
      } 
      }
    </style>
  
{% schema %}
{
  "name": "Klaviyo subscriptionform",
  "tag": "section",
  "class": "klaviyo_subscriptionform",
  "presets": [
    {
      "name": "Klaviyo subscriptionform"
    }
  ]
}
{% endschema%}