.custom-slider-banner-container .swiper-pagination {
    left: 50%;
    display: flex;
    gap: 7px;
    padding-top: 20px;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #184B44 !important;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: #aaa;
}

.custom-slider-banner-container {
    margin: 60px 0;
    margin-top: 0;
}

.custom-slider-banner-container .rx_read_more_btn_green {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 240px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #EFA316;
    border-color: #EFA316 !important;
    color: #fff;
}  

.custom-slider-banner-container .rx_read_more_btn_green:hover {
    box-shadow: 0 11px 19px #efa31680;
    font-weight: 700;
}

.custom-slider-button {
    display: flex;
    justify-content: center;
}

.rx_rich-text__text {
    line-height: 25px !important;
}

.custom-slider-banner-container .banner .banner__media {
    aspect-ratio: 1900/1000;
    width: 100%;
    height: 100%;
}

.custom-slider-banner-container .banner .banner__media img{
    display: flex;
    position: unset !important;
    object-fit: fill !important;
}

/* .custom-box.rx_banner__box {
   background-color: rgb(255, 255, 255, 0.7) !important;
} */

@media (max-width: 767px ) {
    .custom-slider-banner-container {
        margin-top: 0;
        margin-bottom: 60px;
    }

    .custom-box.rx_banner__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 24px 16px 10px 16px;
    }

    .desktop_media {
        display: none;
    }

    .mobile_media {
        display: block;
    }

    .custom-slider-banner-container .rx_banner__heading {
        padding-bottom: 0 !important;
    }

    .custom-slider-banner-container .rx_banner__text {
        padding-bottom: 8px !important;
    }

}

@media (min-width: 767px) {
    .desktop_media {
        display: block;
    }

    .mobile_media {
        display: none;
    }
}