.rich-text--blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 710px;
}
.rich-text--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.rich-text--heading {
    font-family: BLT-Heirloom;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
}
.rich-text--content {
    text-align: center;
    font-family: BLT-Heirloom;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 222.222% */
    text-transform: capitalize;
}
.rich-text--subheading {
    text-align: center;
    font-family: BLT-Heirloom;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 166.667% */
    text-transform: capitalize;
}


@media (max-width: 991px) {
    .rich-text--wrapper {
        display: flex;
        flex-direction: column;
    }
    
}
@media (max-width: 767px) {
    .rich-text--heading {
      font-size: 22px;
    }
    .rich-text--subheading {
        font-size: 18px;
        line-height: 32px;
    }
    .rich-text--content {
        font-size: 15px;
        line-height: 26px;
    }
    .rich-text--heading {
        color: #ffffff;
        padding-top: 14px !important;
      }
    
}